.chnHoverName {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;
}

.group:hover .chnHoverName {
	animation: fadeInDelayed 0s linear 0.5s forwards;
}

@keyframes fadeInDelayed {
	to {
		opacity: 1;
	}
}

.channel-scale-widescreen {
	width: 8rem;
	height: 4.5rem;
	transition: transform 0.2s ease-in-out;
}

.channel-scale-standard {
	width: 8rem;
	height: 6rem;
	transition: transform 0.2s ease-in-out;
}
