@import "https://gist.githubusercontent.com/chuseman/b3560861e1f93fcb65ce2e32d1018ca7/raw/5fcf867dd3955680c24e447bc84d8565ca93dd9d/JetBrainsMono%2520Nerd%2520Font%2520Mono%2520v3.3.0.css";
@import "tailwindcss";
@import "./font.css";

@theme {
	/* catppuccin mocha */
	--color-background: #1e1e2e;
	--color-bg-secondary: #313244;
	--color-primary: #cba6f7;
	--color-secondary: #8f93ac;

	/* see font.css for font definitions */
	--font-wiimain: "Wii Main";
	--font-wiiclock: "Wii Clock";
	--font-wiihs: "Wii H&S";
	--font-mono: "JetBrains Mono", monospace;
}

* {
	font-family: "Wii Main";
	user-select: none;
	-webkit-user-drag: none;
}

html,
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	padding: 0;
}

body {
	background-image: url("");
	background-size: 100vw 100vh; /* cover the entire screen!!! */
}

.biggerScreenNOW {
	z-index: 999;
	display: none;
}

/* @media (min-width: 540px), (min-height: 625px) {
	.biggerScreenNOW {
		display: none;
	}
}

@media (max-width: 539px), (max-height: 624px) {
	.biggerScreenNOW {
		display: block;
	}
} */
